.idea
./app/cache
./vendor
./web/bundles
parameters.yml
./app/logs
./web/css
./web/js
./web/uploads
./web/media
./web/blog/wp-config.php
app/cache
vendor
web/css
web/js
web/media
web/bundles
app/logs
web/uploads
