@import url('http://fonts.googleapis.com/css?family=Abel|Racing+Sans+One');

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: .9em;
    line-height: 1.4em;
    background: url(../bundles/voileuxweb/img/body-bg.png) top left repeat #fafafa;
}

::-moz-selection {
    background: #54D4CF;
    text-shadow: none;
}

::selection {
    background: #54D4CF;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
html{
    padding:0;
    margin:0;
}
body {
    font: 16px/26px Abel, Helvetica, Helvetica Neue, Arial, sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 1px solid #2fa5a1;
    position:relative;
    z-index: 40;
}

.footer-container
{
    border-top: 1px solid #2fa5a1;
}

.header-container {
    background: rgb(176,212,227); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(176,212,227,1) 0%, rgba(136,186,207,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(176,212,227,1)), color-stop(100%,rgba(136,186,207,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 ); /* IE6-9 */

}
.footer-container {
    background: rgb(176,212,227);

}

.main aside {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    background: #fcfeff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfeff 0%, #edf4f7 53%, #ebf1f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfeff), color-stop(53%,#edf4f7), color-stop(100%,#ebf1f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfeff 0%,#edf4f7 53%,#ebf1f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfeff 0%,#edf4f7 53%,#ebf1f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfeff 0%,#edf4f7 53%,#ebf1f4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfeff 0%,#edf4f7 53%,#ebf1f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#ebf1f4',GradientType=0 ); /* IE6-9 */
    margin: 0 0 1em 0;
}

.main aside.owner{
    text-align: center;

}
.main aside.owner a{
    display: block;
}
.main aside.owner a.avatar{
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    border-radius: 4px;
    padding: 6px;
    margin: 0 auto;
    background: #fff;
}
.main aside.owner a.avatar img{
    border-radius: 2px;
    width: 100%;

}


.main aside.owner a.owner{
    display: block;
    margin-top: 1em;
    text-decoration: none;
    color: #1d7a9c;
    font-size: 1.4em;
}

.title {

    margin: 8px 0 5px 0;
    font-size: 1.8em;
    padding:0;
    font-weight: normal;

}
.title a {
    color: #474749;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.6);
    font-family: "Racing Sans One","League Gothic", Impact, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.full-width.wrapper {
    width: 96%;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {

    padding: 0;

    text-align: center;
    text-decoration: none;

}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #444;
    padding: 1%;
}


.footer-container footer {
    color: #999;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
label.placeholder {
    cursor: text;
    padding: 8px 8px;
    color: #999999;
    font-family: Abel, Helvetica, Helvetica Neue, Arial, sans-serif;

}

.ui-widget, .ui-datepicker table{
    font-size: 0.8em !important;
    font-family: Abel, Helvetica, Helvetica Neue, Arial, sans-serif !important;
}

input:placeholder, textarea:placeholder {
    color: #999999;
    font-family: Abel, Helvetica, Helvetica Neue, Arial, sans-serif;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999999;
    font-family: Abel, Helvetica, Helvetica Neue, Arial, sans-serif;
}

input::-moz-input-placeholder, textarea::-moz-input-placeholder {
    color: #999999;
    font-family: Abel, Helvetica, Helvetica Neue, Arial, sans-serif;
}


.hero {
    position: relative;
}

.hero ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.hero ul li {
    /*position: relative;*/
    float:left;
}

.hero ul li .description {
    color: #FFF;
    -webkit-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -o-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -ms-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.hero ul li .description .text{
    float:right;
}
.hero ul li .description a{
    color: #FFF;
    text-decoration: none;
}
.hero ul li .description a.avatar{
    display:block;
    margin: 0.1em 0 0 2em;
    float:right;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #fff;
}
.hero ul li .description a.avatar img{

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}
.hero ul li .description h3, .hero ul li .description p{
    margin: 0;
}
.hero #main-search {
    color: #fff;
    -webkit-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -o-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -ms-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    z-index:20;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 906px;
    margin-left: -453px;
}
.niceSelect{
    margin-top: 1px;
    width: 130px;
    padding: 4px 10px;
    background: url('../bundles/voileuxweb/img/bg.png') right center no-repeat #fff;
    border-radius: 4px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
#main-search-form button{
    width: 150px;
    padding: 8px 20px 9px 20px;
    font-size: 16px;
}
#main-search-form {
    padding: 5px;
    width: 906px;
    margin-top: 1.6em;
    background: #666;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
}
#main-search-form .form-field, #detail-search-form .form-field {
    float:left;
    margin-right: 8px;
    position: relative;

}
#detail-search-form .form-field {
    margin: 2%;
    width: 46%;
}
#detail-search-form .form-persons select {
    width: 100%;
}
#main-search-form .form-submit {
    margin-right: 0;

}
#detail-search-form .form-submit button{
    width: 100%

}
.form-field input{
    width: 148px;
    padding: 8px 8px;
    border: 1px solid #111;
    border-radius: 4px;
    background: url('../bundles/voileuxweb/img/input-bg.png') top left #efefef;
}
#main-search-form .form-field input {
    width: 148px;
}
#detail-search-form .form-field input {
    border: 1px solid #CCC;
    background: #fff;
    width: 96%;
    padding: 8px 2%;
}

#detail-search-form .form-email {
    width: 96%;
}
#detail-search-form .form-date {
    width: 46%;
}
#detail-search-form .form-field.form-submit {
    float: none;
    margin: 10px auto;
    font-size: 1.2em;
}
#detail-search-form .per-day {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #999;
}
#detail-search-form .price{
    position: relative;
    margin: 0.5em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.form-field input:focus{
    box-shadow: none !important;
    outline: none;
    border-color: #53cd00 !important;
}
#main-search-form .form-date input{
    width: 98px;
}

#main-search-form .form-location input{
    width: 168px;
}
#main-search-form .form-email input{
    width: 128px;
}



.form-field label {
    display:none;
}

.form-field input.error{
    border: 1px solid #d00;

}

#main-search .form-title {
    font-size: 1.8em;
    -webkit-text-shadow: 0 0 20px rgba(0,0,0,0.6), 0 -1px 1px rgba(0, 0, 0, 0.4);
    -o-text-shadow: 0 0 20px rgba(0,0,0,0.6), 0 -1px 1px rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 0 0 20px rgba(0,0,0,0.6), 0 -1px 1px rgba(0, 0, 0, 0.4);
    -ms-text-shadow: 0 0 20px rgba(0,0,0,0.6), 0 -1px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 20px rgba(0,0,0,0.6), 0 -1px 1px rgba(0, 0, 0, 0.4);
}
#main-search h2, #main-search p {
    margin: .3em 0;
}

#main-search #submit-success {
    background: rgba(0, 0, 0, 0.7);
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #111;
    width: 500px;
    margin: 1em auto;

}
#main-search #submit-success p {
    padding: 8px 16px;
    margin: 0;
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    background: #f9fff6;
}



article h1{
    text-shadow: 0 1px 0 #fff;
    color: #ac3639;
    margin-top: 0;
}
article h3{
    text-shadow: 0 1px 0 #fff;
    color: #666;
}
article{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.main aside h2 {
    margin-top: 0;
}

article.boat-details {
    background: #fafafa;
    border: 1px solid #DDD;
    border-radius: 8px;
}

article.boat-details ul.share {
    position:absolute;
    list-style: none;
    margin: 0;
    padding: 10px;
    left: 0;
    top: 0;
    display:none;

}
article.boat-details ul.share li{
    float: left;
    margin-right: 8px;
}
article.boat-details .img-and-share {
    position:relative;
}

article.boat-details h1 {
    margin: 0;
    padding: .5em;
    font-size: 1.4em;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #fff;
    background: #fcfeff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfeff 0%, #edf4f7 53%, #ebf1f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfeff), color-stop(53%,#edf4f7), color-stop(100%,#ebf1f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfeff 0%,#edf4f7 53%,#ebf1f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfeff 0%,#edf4f7 53%,#ebf1f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfeff 0%,#edf4f7 53%,#ebf1f4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfeff 0%,#edf4f7 53%,#ebf1f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#ebf1f4',GradientType=0 ); /* IE6-9 */

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


article.boat-details img{
    max-width: 100%;
}
article.boat-details p{
    font-size: 0.9em;
    margin: 1em;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
aside {
    margin-top: 16px;
}

article.boat-details aside {
    margin: 1em;
    background: #f6f6f6;
    font-size: 0.8em;
    width: 220px;
    padding: 0;
}

article.boat-details aside ul li{
    padding: .2em .6em;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff
}
article.boat-details aside ul li.first{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
article.boat-details aside ul li.last{
    border-bottom:none
}
article.boat-details aside ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

aside span.value{
    font-weight: bold;

    float: right;
}

aside span.name{
    float:left;
}

article.faq-item h1 {
    margin: .67em 0;
}

footer section {
    width: 30%;
    float: left;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.5);
}
footer h3 {
    color: #ac3639;
    margin: .2em 0;

}
footer a {
    color: #666;
    text-decoration: none;
}
footer p {
    margin: 0;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a.persona-button{
    padding: 0;
    font-family: Abel, Helvetica, Helvetica Neue, Arial, sans-serif;;
}
nav .btn {
    position: relative;
    top: -2px;
}
.no-flexbox nav a.persona-button {
    top: 10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        display:inline-block;
        margin: 0 1.7%;
        padding: 8px 2%;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    nav a.btn, nav a.persona-button{
        margin-top: 7px;
    }


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
    aside a.btn, aside button.btn {
        font-size: 14px;
    }

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container {
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
           -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        text-align: right;
        float: right;
        width: 38%;
    }

    nav a.btn, nav a.persona-button{
        margin-top: 7px;
    }
/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 67%;
    }

    .main article.full {
        float:none;
        width: 100%;
    }

    .main aside {
        float: right;
        width: 28%;
        margin-top: 0;
    }


    .main aside.owner {
        padding: 2%;
        width: 26%;
    }

    .main .half {
        float: left;
        width: 48%;
        margin: 1em 1%;
    }
    .wrapper {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

a.btn, button.btn {
    position: relative;
    background-color: #7FBF4D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
    background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: linear-gradient(top, #7FBF4D, #63A62F);
    border: 1px solid #63A62F;
    border-bottom: 1px solid #5B992B;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96CA6D;
    box-shadow: inset 0 1px 0 0 #96CA6D;
    color: #FFF;

    font: bold 11px/1 Abel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 7px 20px 8px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #4C9021;
}
a.btn.disabled, button.btn.disabled {
    background: #bebebe;
    border: 1px solid #a6a6a6;
    border-bottom: 1px solid #999999;
    color: #dddddd;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a.btn.loading:after, button.btn.loading:after {
    content:'';
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    display:block;
    position: absolute;
    background-image: url('../bundles/voileuxweb/img/spinner.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
}
a.btn:hover{
    text-decoration: none;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}